.flagWrapper {
  width: 400px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  overflow: hidden;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

#flag:hover {
  transform: scale(1.2);
  transition: transform 2s;
}

.displaynone {
  display: none;
}

.gameareastart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input:disabled {
  white-space: nowrap;
}
